{# templates/partials/_search_results.html.twig #}
{% for formation in formations %}
<div class="formation-item" style="display: none;">
    <h4>{{ formation.nameFormation }}</h4>
    <!-- autres détails de la formation -->
</div>
{% endfor %}
