{% extends 'base.html.twig' %}

{% block title %}Mentions légales
{% endblock %}
{% block stylesheet %}
	<style>
		/* Style général */
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
			background-color: #f2f2f2;
		}

		article {
			background-color: #fff;
			margin: 20px auto;
			padding: 20px;
			max-width: 800px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		}

		h1,
		h2 {
			color: #333;
		}

		h2 {
			margin-top: 20px;
		}

		p {
			line-height: 1.5;
		}

		section {
			margin-bottom: 30px;
		}

		footer {
			margin-top: 20px;
			text-align: center;
			color: #666;
		}

		/* Liens */
		a {
			color: #007bff;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}
	</style>
{% endblock %}
{% block body %}
<article>
	<h1 style="color: blue;">Mentions légales</h1>

	<section>
		<h2>Informations générales</h2>
		<p>La société INFPF, Société par Actions Simplifiée Unipersonnelle (SASU) au capital de 1 000,00 €, est un Organisme de formation professionnelle enregistré sous le n° 93061116606, immatriculée au RCS de Antibes sous le numéro SIRET 927 916 452 00018. Son siège social est situé au 257 AVENUE SAINT EXUPERY, 06700 SAINT-LAURENT-DU-VAR.</p>
		<p>INFPF propose des formations intra-entreprises, inter-entreprises, individuelles et collectives en présentiel ainsi qu'à distance via une plateforme de E-Learning, sur l'ensemble du territoire national.</p>
		<p>Représentant légal : Adam De Villiers Marc-Antoine</p>
	</section>

	<section>
		<h2>Objet et champ d'application</h2>
		<p>Les présentes Conditions Générales de Vente déterminent les conditions applicables aux prestations de formation effectuées par la société INFPF pour le compte d'un client. Toute commande de formation implique l'acceptation sans réserve par le client des présentes Conditions Générales de Vente.</p>
		<p>Ces conditions prévalent sur tout autre document du client, en particulier sur toutes conditions générales d'achat.</p>
	</section>

	<section>
		<h2>Devis, convention, contrat et attestation</h2>
		<p>Pour chaque formation, la société INFPF s'engage à fournir un devis, une convention ou un contrat au client. Ce dernier est tenu de retourner à la société INFPF un exemplaire renseigné, daté, signé et tamponné, avec la mention « Bon pour accord ».</p>
		<p>Une attestation de présence ou de fin de formation sera remise au client à l'issue de la session.</p>
	</section>

	<section>
		<h2>Programme des formations</h2>
		<p>Le programme des formations, ainsi que les modalités pédagogiques, sont présentés aux clients avant le début de la formation. Le formateur suit le projet de formation selon les objectifs définis, tout en se réservant la possibilité de l'adapter si besoin pour répondre aux attentes des participants.</p>
	</section>

	<section>
		<h2>Propriété intellectuelle et droit d'auteur</h2>
		<p>Les supports de formation, quelle qu'en soit la forme (papier, numérique, électronique...), sont protégés par le droit d'auteur et la propriété intellectuelle. Toute reproduction, représentation, diffusion ou utilisation, totale ou partielle, est interdite sans autorisation préalable écrite de la société INFPF.</p>
		<p>Le client s'engage à ne pas utiliser ces documents pour animer ou reproduire des formations sans l'accord exprès de la société INFPF.</p>
	</section>

	<section>
		<h2>Informatique et libertés / Données personnelles</h2>
		<p>Les informations à caractère personnel communiquées par le client à la société INFPF sont utilisées pour le traitement de l'inscription et la constitution d'un fichier client à des fins de gestion et de prospection.</p>
		<p>Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée et au RGPD, le client dispose d'un droit d'accès, de rectification, d'opposition, de portabilité et d'effacement de ses données personnelles. Ces droits peuvent être exercés en contactant INFPF à l’adresse : contact@infpf.fr.</p>
		<p>Les données sont conservées pendant 3 ans à compter du dernier contact.</p>
	</section>

	<section>
		<h2>Loi applicable et attribution de compétence</h2>
		<p>Les présentes Conditions Générales de Vente sont régies par le droit français. En cas de litige, les parties s'efforceront de résoudre le différend à l’amiable. À défaut, le litige sera porté devant les tribunaux compétents du ressort du siège social de la société INFPF.</p>
	</section>

	<section>
		<h2>Mentions spécifiques au site internet (le cas échéant)</h2>
		<p><strong>Éditeur du site</strong> : INFPF</p>
		<p><strong>Directeur de la publication</strong> : Adam De Villiers Marc-Antoine</p>
		<p><strong>Site</strong> : https://www.inpfp.fr</p>
		<p><strong>Hébergeur</strong> : INFPF, 257 AVENUE SAINT-EXUPERY, 06700 SAINT-LAURENT-DU-VAR, 04.89.05.03.55</p>

		<h3>Informations juridiques</h3>
		<p><strong>Raison sociale</strong> : INFPF</p>
		<p><strong>Forme juridique</strong> : SASU</p>
		<p><strong>SIREN</strong> : 927 916 452</p>
		<p><strong>SIRET (siège)</strong> : 927 916 452 00018</p>
		<p><strong>Numéro de TVA intracommunautaire</strong> : FR09927916452</p>
		<p><strong>Capital social</strong> : 1 000,00 €</p>
		<p><strong>Adresse du siège social</strong> : 257 AVENUE SAINT-EXUPERY, 06700 SAINT-LAURENT-DU-VAR</p>
		<p><strong>RCS</strong> : 927 916 452 R.C.S. Antibes (inscription le 06/05/2024)</p>
		<p><strong>RNE</strong> : Inscrit (mise à jour le 17/04/2025)</p>
		<p><strong>INSEE</strong> : Mise à jour le 16/04/2025</p>
		<p><strong>Activité principale</strong> : Formation continue d'adultes (Code APE : 85.59A)</p>
		<p><strong>Convention collective</strong> : Organismes de formation – IDCC 1516</p>
		<p><strong>Date de création</strong> : 17/04/2024</p>
		<p><strong>Date de clôture comptable</strong> : 31/12/2025</p>
		<p><strong>Effectif</strong> : Au moins 1 salarié (2025)</p>
		<p><strong>Certification</strong> : Qualiopi – spécialités : finances, banque, assurances</p>
	</section>

	{% include 'footer.html.twig' %}
{% endblock %}
