{% extends 'base.html.twig' %}

{% block title %}certifié QUALIOPI
{% endblock %}
{% block stylesheets %}
	<link href="../css/fichier.css" rel="stylesheet"/>
    <link href="../css/footer1.css" rel="stylesheet"/>
{% endblock %}
{% block body %}
	<img class="im" src="{{ asset('img/9.png') }}" alt="Nos formations à distance">

	<div class="entry-content">
		<div class="wp-block-yoast-breadcrumb breadcrumbs">
			<span>
				<span>
					<a href="https://www..fr/">Institut national de la formation professionnelle française</a>
				</span>
				&gt;
				<span>
					<a href="../ecole/">L’École</a>
				</span>
				&gt;
				<span aria-current="page" class="breadcrumb_last">L'INFPF certifié Qualiopi</span>
			</span>
		</div>
		{# <h2 class="wp-block-heading has-text-color" style="color:#1e68b0">L'Institut national de la formation professionnelle française
			<strong style="color: #0b3e6fd6;">certifié Qualiopi</strong>
		</h2> #}
		<div class="wp-block-columns is-layout-flex wp-container-core-columns-layout-1 wp-block-columns-is-layout-flex">
			<div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:71%">
				<br>
				<p>Notre établissement possède la
					<a href="../img/Certificat_de_Conformite.jpg">
						<strong style="color: #0b3e6fd6;">certification</strong>
						<strong style="color: #0b3e6fd6;">Qualiopi</strong>
					</a>
					délivrée par des organismes certificateurs retenus par le Comité français d’accréditation (Cofrac).</p>
				<p>Nous avons répondu positivement aux
					<strong style="color: #0b3e6fd6;">7 critères et aux 31 points de contrôle audités.</strong>
					Nous sommes très fiers d’avoir obtenu la certification Qualiopi ! C’est une véritable reconnaissance de
																				              notre démarche qualité mise en oeuvre depuis plusieurs années.</p>
			</div>

		</div>
		<div aria-hidden="true" class="wp-block-spacer" style="height:20px"></div>
		<h2 class="wp-block-heading has-text-color" style="color:#1e68b0;margin: 0px;"><strong style="color: #0b3e6fd6;">Qu’est-ce que
			la certification
																            Qualiopi ?</strong>
			</h2>
		<p style="margin: 5px;padding-top:10px;">Le Qualiopi est le nom donné au Référentiel National Qualité (RNQ). Celui-ci trouve son origine dans la loi
												          du 5 Septembre 2018.</p>
		<p style="margin: 5px;">À savoir que le décret d’application de la loi en lien avec le contrôle de la Qualité des Organismes de
												          formation, est le décret du 6 juin 2019. Il détaille le contenu du Référentiel National Qualité (RNQ),
												          celui-ci a été présenté et s’appelle officiellement : Qualiopi. Ce décret sert de base de travail aux acteurs
												          de la formation professionnelle pour constituer leur démarche qualité.</p>
		<p style="margin: 5px;">Grâce à cette démarche qualité, les organismes de formation pourront viser la certification Qualiopi requise
												          au 1<sup>er</sup>
			janvier 2021 pour bénéficier des fonds de la formation professionnelle.</p>
		<p style="margin: 10px;"><div>
			<p style="margin: 5px;">NOTE : suite à la crise sanitaire du Covid-19,<strong style="color: #0b3e6fd6;">
					la date de certification Qualiopi a été
				décalée au 1er janvier 2022</strong>
				pour tous les organismes de formation CFA inclus (nouveau comme historique)</p>.<br/> </div>

<p> <strong style="color: #0b3e6fd6;margin: 5px;">Qualiopi remplace la majorité des anciens labels qualité existants</strong>dans le domaine de la formation professionnelle (APP, OPQF…).</p>
			<img src="{{ asset('img/Qualiopi.png') }}" alt="Qualiopi" style="width:100%; height:auto;">
		<div aria-hidden="true" class="wp-block-spacer" style="height:20px"></div>
		<h2 class="wp-block-heading has-text-color" style="color:#1e68b0">
			<strong style="color: #0b3e6fd6;">Les critères de qualité
			de la
												          certification Qualiopi</strong></h2>
		<p style="margin: 5px;">La certification Qualiopi se base sur 7 critères principaux, déclinés en 22 indicateurs qui s’appliquent à
												          l’ensemble des prestataires, auxquels s’ajoutent 10 indicateurs spécifiques (aux formations certifiantes, à
												          l’apprentissage…).</p>
		<p style="margin: 5px;">1.
			<strong style="color: #0b3e6fd6;">Les conditions d’information</strong>
			du public sur les prestations proposées, les
												          délais pour y accéder et les résultats obtenus.<br/>2.
			<strong style="color: #0b3e6fd6;">L’identification précise des
																            objectifs</strong>
			des prestations proposées et l’adaptation de ces prestations aux publics
												          bénéficiaires, lors de la conception des prestations.<br/>3.
			<strong style="color: #0b3e6fd6;">L’adaptation aux publics
																            bénéficiaires</strong>
			des prestations et des modalités d’accueil, d’accompagnement, de suivi et
												          d’évaluation mises en œuvre.<br/>4.
			<strong style="color: #0b3e6fd6;">L’adéquation des moyens pédagogiques, techniques et
																            d’encadrement aux prestations</strong>
			mises en œuvre.<br/>5.
			<strong style="color: #0b3e6fd6;">La qualification et
																            développement des connaissances et compétences</strong>
			des personnels chargés de mettre en œuvre les
												          prestations.<br/>6.
			<strong style="color: #0b3e6fd6;">L’inscription et investissement du prestataire</strong>
			dans son
												          environnement professionnel.<br/>7.
			<strong style="color: #0b3e6fd6;">Le recueil et prise en compte des appréciations et des
																            réclamations</strong>
			formulées par les parties prenantes aux prestations délivrées.<br/>( Pour en
												          savoir plus sur le référentiel, consultez ce
			<a href="https://travail-emploi.gouv.fr/demarches-ressources-documentaires/documentation-et-publications-officielles/guides/guide-referentiel-national-qualite">lien</a>
			)
		</p>
	</div>
	<!-- .entry-content -->
</article>
<!-- #post-409607 --></main><!-- #main --></body></html>{% include 'footer.html.twig' %}{% endblock %}
