{% extends 'base.html.twig' %}

{% block title %}Formation
{% endblock %}
{% block stylesheets %}
	<link href="../css/fichier.css" rel="stylesheet"/>
    <link href="../css/footer1.css" rel="stylesheet"/>
{% endblock %}


{% block body %}
	<img class="im" src="{{ asset('img/7.png') }}" alt="Nos formations à distance">

	<div class="entry-content">
		<div class="wp-block-yoast-breadcrumb breadcrumbs">
			<span>
				<span>
					<a href="https://www..fr/">Institut national de la formation professionnelle française</a>
				</span>
				&gt;
				<span>
					<a href="https://www..fr/ecole/">L’École</a>
				</span>
				&gt;
				<span aria-current="page" class="breadcrumb_last">Le coaching a INFPF : pour un suivi personnel et
																									              régulier</span>
			</span>
		</div>
		<br>
		<p>Étudier à distance ne signifie pas étudier seul. En plus du support digital proposé avec
			notre plateforme INFPF
																				            Learning, nous avons décidé de miser sur l’HUMAIN.</p>
		<p>Afin de casser l’isolement de l’apprentissage à distance classique, d’engager nos élèves dans leur formation
															          et les accompagner au quotidien dans leurs projets, l'Institut National de la Formation Professionnelle Française
			<strong style="color: #0b3e6fd6;">a placé l’équipe
																				            coaching au cœur de ses ambitions !</strong><br/><br/>Aujourd’hui, ce sont plus de
			<strong style="color: #0b3e6fd6;">25
																				            coachs</strong>
			qui accompagnent et soutiennent nos élèves tout au long de leur formation avec un objectif unique : les
															          faire réussir !<br/><br/></p>
<div class="wp-block-columns is-layout-flex wp-container-core-columns-layout-1 wp-block-columns-is-layout-flex">
    <div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:100%">
        <h2 class="wp-block-heading has-text-color" style="color:#1e68b0">
            <strong style="color: #0b3e6fd6;">Quel est le rôle du coach</strong>
            ?
        </h2>
        <p>
            <img src="{{ asset('img/coaach.png') }}" alt="Image du coach" style="float: left; margin-right: 15px;width: 50%;">
            Un coach personnel est désigné dès votre entrée dans notre établissement. Il vous connaît et
            <strong style="color: #0b3e6fd6;">va vous accompagner durant toute la durée de votre apprentissage</strong>. C’est un accompagnement personnalisé jusqu’à la réussite de vos objectifs.
        </p>
        <p>Son rôle évolue au cours de votre parcours pédagogiques<br/>Après votre inscription, le coach vous accompagnera pour la bonne mise en route de votre formation : présentation de l’école et des supports d’apprentissage.</p>
        <p>En fonction de vos objectifs de fin de formation, le coach paramétrera votre agenda d’étude en fonction de vos disponibilités. Si vos objectifs ou vos disponibilités sont amenés à changer au cours de votre formation, votre coach pourra <strong style="color: #0b3e6fd6;">modifier les plages d’étude</strong>.</p>
        <p>Sa mission principale est de vous accompagner et de vous motiver afin de vous aider à tenir vos engagements personnels et ne pas les perdre de vue.</p>
        <p>L’accompagnement pédagogique des coachs passe également par :<br/>– des méthodes d’apprentissage et de révision,<br/>– des conseils sur votre organisation,<br/>– un suivi de vos stages.</p>
    </div>
</div>



		<p>Votre coach dédié sera spécialisé dans le secteur de la formation que vous avez choisie.
		</p>
	</div>
	{# <div class="wp-block-columns is-layout-flex wp-container-core-columns-layout-3 wp-block-columns-is-layout-flex">
					<div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:25%">
						<div class="wp-block-image">
							<figure class="aligncenter size-full is-resized">
								<picture class="wp-image-390266" decoding="async" style="width:252px;height:252px">
									<source data-lazy-sizes="(max-width: 336px) 100vw, 336px" data-lazy-srcset="https://www..fr/wp-content/uploads/2018/08/0049_INFPF-50_WEB.jpg.webp 336w, https://www..fr/wp-content/uploads/2018/08/0049_INFPF-50_WEB-300x300.jpg.webp 300w, https://www..fr/wp-content/uploads/2018/08/0049_INFPF-50_WEB-55x55.jpg.webp 55w" srcset="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20336%20336'%3E%3C/svg%3E" type="image/webp"/>
									<img alt="coach" data-lazy-sizes="(max-width: 336px) 100vw, 336px" data-lazy-src="https://www..fr/wp-content/uploads/2018/08/0049_INFPF-50_WEB.jpg" data-lazy-srcset="https://www..fr/wp-content/uploads/2018/08/0049_INFPF-50_WEB.jpg 336w, https://www..fr/wp-content/uploads/2018/08/0049_INFPF-50_WEB-300x300.jpg 300w, https://www..fr/wp-content/uploads/2018/08/0049_INFPF-50_WEB-55x55.jpg 55w" decoding="async" height="336" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20336%20336'%3E%3C/svg%3E" width="336"/>
								</picture>
								<noscript>
									<picture class="wp-image-390266" decoding="async" loading="lazy" style="width:252px;height:252px">
										<source sizes="(max-width: 336px) 100vw, 336px" srcset="https://www..fr/wp-content/uploads/2018/08/0049_INFPF-50_WEB.jpg.webp 336w, https://www..fr/wp-content/uploads/2018/08/0049_INFPF-50_WEB-300x300.jpg.webp 300w, https://www..fr/wp-content/uploads/2018/08/0049_INFPF-50_WEB-55x55.jpg.webp 55w" type="image/webp"/>
										<img alt="coach" decoding="async" height="336" loading="lazy" sizes="(max-width: 336px) 100vw, 336px" src="https://www..fr/wp-content/uploads/2018/08/0049_INFPF-50_WEB.jpg" srcset="https://www..fr/wp-content/uploads/2018/08/0049_INFPF-50_WEB.jpg 336w, https://www..fr/wp-content/uploads/2018/08/0049_INFPF-50_WEB-300x300.jpg 300w, https://www..fr/wp-content/uploads/2018/08/0049_INFPF-50_WEB-55x55.jpg 55w" width="336"/>
									</picture>
								</noscript>
							</figure>
						</div>
					</div>
					<div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:25%">
						<div class="wp-block-image">
							<figure class="aligncenter size-full is-resized">
								<picture class="wp-image-390275" decoding="async" style="width:252px;height:252px">
									<source data-lazy-sizes="(max-width: 336px) 100vw, 336px" data-lazy-srcset="https://www..fr/wp-content/uploads/2018/08/0016_INFPF-17_WEB.jpg.webp 336w, https://www..fr/wp-content/uploads/2018/08/0016_INFPF-17_WEB-300x300.jpg.webp 300w, https://www..fr/wp-content/uploads/2018/08/0016_INFPF-17_WEB-55x55.jpg.webp 55w" srcset="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20336%20336'%3E%3C/svg%3E" type="image/webp"/>
									<img alt="coach" data-lazy-sizes="(max-width: 336px) 100vw, 336px" data-lazy-src="https://www..fr/wp-content/uploads/2018/08/0016_INFPF-17_WEB.jpg" data-lazy-srcset="https://www..fr/wp-content/uploads/2018/08/0016_INFPF-17_WEB.jpg 336w, https://www..fr/wp-content/uploads/2018/08/0016_INFPF-17_WEB-300x300.jpg 300w, https://www..fr/wp-content/uploads/2018/08/0016_INFPF-17_WEB-55x55.jpg 55w" decoding="async" height="336" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20336%20336'%3E%3C/svg%3E" width="336"/>
								</picture>
								<noscript>
									<picture class="wp-image-390275" decoding="async" loading="lazy" style="width:252px;height:252px">
										<source sizes="(max-width: 336px) 100vw, 336px" srcset="https://www..fr/wp-content/uploads/2018/08/0016_INFPF-17_WEB.jpg.webp 336w, https://www..fr/wp-content/uploads/2018/08/0016_INFPF-17_WEB-300x300.jpg.webp 300w, https://www..fr/wp-content/uploads/2018/08/0016_INFPF-17_WEB-55x55.jpg.webp 55w" type="image/webp"/>
										<img alt="coach" decoding="async" height="336" loading="lazy" sizes="(max-width: 336px) 100vw, 336px" src="https://www..fr/wp-content/uploads/2018/08/0016_INFPF-17_WEB.jpg" srcset="https://www..fr/wp-content/uploads/2018/08/0016_INFPF-17_WEB.jpg 336w, https://www..fr/wp-content/uploads/2018/08/0016_INFPF-17_WEB-300x300.jpg 300w, https://www..fr/wp-content/uploads/2018/08/0016_INFPF-17_WEB-55x55.jpg 55w" width="336"/>
									</picture>
								</noscript>
							</figure>
						</div>
					</div>
					<div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:25%">
						<div class="wp-block-image">
							<figure class="aligncenter size-full is-resized">
								<picture class="wp-image-390255" decoding="async" style="width:252px;height:252px">
									<source data-lazy-sizes="(max-width: 336px) 100vw, 336px" data-lazy-srcset="https://www..fr/wp-content/uploads/2018/08/0031_INFPF-32_WEB.jpg.webp 336w, https://www..fr/wp-content/uploads/2018/08/0031_INFPF-32_WEB-300x300.jpg.webp 300w, https://www..fr/wp-content/uploads/2018/08/0031_INFPF-32_WEB-55x55.jpg.webp 55w" srcset="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20336%20336'%3E%3C/svg%3E" type="image/webp"/>
									<img alt="coach" data-lazy-sizes="(max-width: 336px) 100vw, 336px" data-lazy-src="https://www..fr/wp-content/uploads/2018/08/0031_INFPF-32_WEB.jpg" data-lazy-srcset="https://www..fr/wp-content/uploads/2018/08/0031_INFPF-32_WEB.jpg 336w, https://www..fr/wp-content/uploads/2018/08/0031_INFPF-32_WEB-300x300.jpg 300w, https://www..fr/wp-content/uploads/2018/08/0031_INFPF-32_WEB-55x55.jpg 55w" decoding="async" height="336" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20336%20336'%3E%3C/svg%3E" width="336"/>
								</picture>
								<noscript>
									<picture class="wp-image-390255" decoding="async" loading="lazy" style="width:252px;height:252px">
										<source sizes="(max-width: 336px) 100vw, 336px" srcset="https://www..fr/wp-content/uploads/2018/08/0031_INFPF-32_WEB.jpg.webp 336w, https://www..fr/wp-content/uploads/2018/08/0031_INFPF-32_WEB-300x300.jpg.webp 300w, https://www..fr/wp-content/uploads/2018/08/0031_INFPF-32_WEB-55x55.jpg.webp 55w" type="image/webp"/>
										<img alt="coach" decoding="async" height="336" loading="lazy" sizes="(max-width: 336px) 100vw, 336px" src="https://www..fr/wp-content/uploads/2018/08/0031_INFPF-32_WEB.jpg" srcset="https://www..fr/wp-content/uploads/2018/08/0031_INFPF-32_WEB.jpg 336w, https://www..fr/wp-content/uploads/2018/08/0031_INFPF-32_WEB-300x300.jpg 300w, https://www..fr/wp-content/uploads/2018/08/0031_INFPF-32_WEB-55x55.jpg 55w" width="336"/>
									</picture>
								</noscript>
							</figure>
						</div>
					</div>
					<div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:25%">
						<div class="wp-block-image">
							<figure class="aligncenter size-full is-resized">
								<picture class="wp-image-390296" decoding="async" style="width:252px;height:252px">
									<source data-lazy-sizes="(max-width: 336px) 100vw, 336px" data-lazy-srcset="https://www..fr/wp-content/uploads/2018/08/0025_INFPF-26_WEB.jpg.webp 336w, https://www..fr/wp-content/uploads/2018/08/0025_INFPF-26_WEB-300x300.jpg.webp 300w, https://www..fr/wp-content/uploads/2018/08/0025_INFPF-26_WEB-55x55.jpg.webp 55w" srcset="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20336%20336'%3E%3C/svg%3E" type="image/webp"/>
									<img alt="coach" data-lazy-sizes="(max-width: 336px) 100vw, 336px" data-lazy-src="https://www..fr/wp-content/uploads/2018/08/0025_INFPF-26_WEB.jpg" data-lazy-srcset="https://www..fr/wp-content/uploads/2018/08/0025_INFPF-26_WEB.jpg 336w, https://www..fr/wp-content/uploads/2018/08/0025_INFPF-26_WEB-300x300.jpg 300w, https://www..fr/wp-content/uploads/2018/08/0025_INFPF-26_WEB-55x55.jpg 55w" decoding="async" height="336" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20336%20336'%3E%3C/svg%3E" width="336"/>
								</picture>
								<noscript>
									<picture class="wp-image-390296" decoding="async" loading="lazy" style="width:252px;height:252px">
										<source sizes="(max-width: 336px) 100vw, 336px" srcset="https://www..fr/wp-content/uploads/2018/08/0025_INFPF-26_WEB.jpg.webp 336w, https://www..fr/wp-content/uploads/2018/08/0025_INFPF-26_WEB-300x300.jpg.webp 300w, https://www..fr/wp-content/uploads/2018/08/0025_INFPF-26_WEB-55x55.jpg.webp 55w" type="image/webp"/>
										<img alt="coach" decoding="async" height="336" loading="lazy" sizes="(max-width: 336px) 100vw, 336px" src="https://www..fr/wp-content/uploads/2018/08/0025_INFPF-26_WEB.jpg" srcset="https://www..fr/wp-content/uploads/2018/08/0025_INFPF-26_WEB.jpg 336w, https://www..fr/wp-content/uploads/2018/08/0025_INFPF-26_WEB-300x300.jpg 300w, https://www..fr/wp-content/uploads/2018/08/0025_INFPF-26_WEB-55x55.jpg 55w" width="336"/>
									</picture>
								</noscript>
							</figure>
						</div>
					</div>
				</div> #}
{# <h2 class="wp-block-heading has-text-color" style="color:#1e68b0">
			<strong style="color: #0b3e6fd6;">Combien de séances de coaching
												            vais-je avoir ?</strong>
		</h2>
		<div class="wp-block-columns is-layout-flex wp-container-core-columns-layout-4 wp-block-columns-is-layout-flex">
			<div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:100%">
				<p>Le coach suit son apprenant tout au long de son parcours d’étude. Par défaut, l’accompagnement se fait
															              sur
					<strong style="color: #0b3e6fd6;">une période de 18 mois</strong>, mais cela peut aller au-delà si l’apprenant en a besoin.</p>
				<p>En début du parcours, il va réaliser des visio collectives pour aider à la mise en route avec une
															              présentation de l’école et des supports d’apprentissage.</p>
				<p>Puis avec
					<strong style="color: #0b3e6fd6;">une dizaine de rendez-vous individuels planifiés</strong>, il va accompagner l’étudiant
																		              dans la réussite de ses objectifs. Ce parcours est personnalisable en fonction de vos besoins. Vous pouvez
																		              demander d’autres séances si vous sentez que cela vous est nécessaire.</p>
				<p>En 2023, 9 élèves sur 10 se déclarent satisfaits du suivi réalisé par le coach, durant leur formation.
				</p>
			</div>
		</div> #}
	{# <div class="wp-block-columns is-layout-flex wp-container-core-columns-layout-5 wp-block-columns-is-layout-flex" style=" background-size: cover; background-position: center; opacity: 0.7;">
					<div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow" style="background-color: rgba(255, 255, 255, 0.5); padding: 20px;">
						<h2 class="wp-block-heading has-text-color" style="color:#1e68b0">
							<strong style="color: #0b3e6fd6;">Comment contacter mon coach ?</strong>
						</h2>
						<strong style="color: #0b3e6fd6;">
							<p>En plus des séances prévues par votre coach, vous pourrez le contacter par :</p>
							<p>– téléphone au 04 89 05 03 55</p>
							<p>– la messagerie INFPF Learning, rubrique « J’ai une question pour mon coach »</p>
						</strong>
					</div>
				</div> #}

</div>
<!-- .entry-content --></article><!-- #post-439226 --></main><!-- #main --></body></html>{% include 'footer.html.twig' %}{% endblock %}
