{% extends 'base.html.twig' %}

{% block title %}Comment financer votre formation à distance avec l'Institut National de la Formation Professionnelle Française (INFPF) ?
{% endblock %}
{% block stylesheets %}
	<link href="../css/fichier.css" rel="stylesheet"/>
    <link href="../css/footer1.css" rel="stylesheet"/>
{% endblock %}


{% block body %}
	<img class="im" src="{{ asset('img/10.png') }}" alt="Nos formations à distance">

	<div class="entry-content">
		<div class="wp-block-yoast-breadcrumb breadcrumbs">
			<span>
				<span>
					<a href="https://www..fr/">Institut national de la formation professionnelle française
					</a>
				</span>
				&gt;
				<span>
					<a href="../ecole/">L’École</a>
				</span>
				&gt;
				<span aria-current="page" class="breadcrumb_last">Financer sa formation</span>
			</span>
		</div>
		<br>
<div style="display: flex; align-items: center;">
    <p>Lancer une formation, que ce soit en présentiel ou à distance, est un pas important vers une reconversion ou l'amélioration de vos compétences professionnelles. Cependant, une question essentielle se pose : comment financer cette formation ? Heureusement, en France, de multiples aides financières existent pour vous soutenir dans cette démarche. L'INFPF vous guide à travers les options disponibles pour financer efficacement votre formation.</p>
    <img src="{{ asset('img/financement.png') }}" alt="Description de l'image" style="width: 20%;">
</div>



		<div class="wp-block-columns is-layout-flex wp-container-core-columns-layout-1 wp-block-columns-is-layout-flex">
			<div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:100%">
				<h2 class="wp-block-heading has-text-color" style="color:#1e68b0">
					<strong style="color: #0b3e6fd6;">Pour les étudiants :</strong>
				</h2>
				<p>Vous êtes actuellement étudiant et souhaitez-vous lancer dans une formation ?</p>
				<p>Si vous êtes étudiant et envisagez de démarrer une formation, l'INFPF propose une variété de domaines d'études adaptés à vos aspirations. Pour vous aider à financer votre parcours, nous offrons :</p>
				<details class="wp-block-details is-layout-flow wp-block-details-is-layout-flow">
					<summary>Facilités de paiement</summary>
					<p>Conscients des défis financiers auxquels font face les étudiants, l'INFPF a mis en place des solutions de paiement flexibles pour rendre l'éducation accessible à tous, quel que soit votre budget.</p>
				</details>
				<details class="wp-block-details is-layout-flow wp-block-details-is-layout-flow">
					<summary>Jobbing</summary>
					<p>Nous vous assistons dans la recherche de petits boulots compatibles avec vos études. Ces emplois peuvent constituer une source de revenu supplémentaire significative. L'INFPF met à disposition des offres d'emploi via votre espace personnel sur notre plateforme e-learning, et nous pouvons également vous aider à peaufiner votre CV et votre lettre de motivation.</p>
				</details>
			</div>
		</div>
		<div aria-hidden="true" class="wp-block-spacer" style="height:20px"></div>
		<div class="wp-block-columns is-layout-flex wp-container-core-columns-layout-2 wp-block-columns-is-layout-flex">
			<div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:100%">
				<h2 class="wp-block-heading has-text-color" style="color:#1e68b0">
					<strong style="color: #0b3e6fd6;">Pour les demandeurs d'emploi :</strong>
				</h2>
				<p>Les demandeurs d'emploi souhaitant se réorienter ou monter en compétence peuvent bénéficier de :</p>
				<details class="wp-block-details is-layout-flow wp-block-details-is-layout-flow">
					<summary>Financement personnel
					</summary>
					<p>L'INFPF propose des facilités de paiement pour permettre à chacun d'accéder à nos formations, en considérant les formations comme un investissement dans votre avenir professionnel.</p>
					<p class="has-white-color has-text-color has-background" style="background-color:#014f92">Se former peut
																		                nécessiter, pour un demandeur d’emploi, d’engager un financement assez conséquent. Mais cela ne doit pas
																		                être un frein. En effet, les frais d’études ou de formation, engagés pour permettre l’amélioration de la
																		                situation professionnelle ou l’accès à une autre profession sont considérées comme des frais
																		                professionnels.
						<br/><br/>L’ensemble des frais sont donc intégralement déductibles de l’impôt
																					                  sur
																					                  le revenu.
					</p>
				</details>
				<details class="wp-block-details is-layout-flow wp-block-details-is-layout-flow">
					<summary>Compte Personnel de Formation (CPF)</summary>
					<p>Chaque actif dispose d'un CPF qu'il peut utiliser pour financer sa formation. L'INFPF vous accompagne dans la mobilisation de votre CPF et la constitution de votre dossier de formation.</p>
				</details>
			</div>
		</div>
		<img src="{{ asset('img/demandeurs_demploi.png') }}" alt="Nos formations à distance">
		<div aria-hidden="true" class="wp-block-spacer" style="height:20px"></div>
		<div class="wp-block-columns is-layout-flex wp-container-core-columns-layout-3 wp-block-columns-is-layout-flex">
			<div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:100%">
				<h2 class="wp-block-heading has-text-color" style="color:#1e68b0">
					<strong style="color: #0b3e6fd6;">Pour les salariés :</strong>
				</h2>
				<p>Si vous êtes déjà en poste mais aspirez à évoluer professionnellement, plusieurs options de financement sont à votre disposition :</p>
				<details class="wp-block-details is-layout-flow wp-block-details-is-layout-flow">
					<summary>
						<strong>Financement personnel </strong>
					</summary>
					<p>L'INFPF offre des solutions de paiement adaptées pour vous permettre de suivre une formation sans contrainte budgétaire.</p>
				</details>
				<details class="wp-block-details is-layout-flow wp-block-details-is-layout-flow">
					<summary>

													<strong>Compte Personnel de Formation (CPF)
						</strong>
					</summary>
					<p>Utilisez votre Compte Personnel de Formation pour financer votre parcours éducatif. Nous vous guidons dans le processus d'utilisation de votre CPF pour accéder à nos formations éligibles.</p>
				</details>
				<details class="wp-block-details is-layout-flow wp-block-details-is-layout-flow">
					<summary>
<strong>Projets de Transition Professionnelle</strong>

					</summary>
					<p>Ce dispositif permet aux salariés de suivre une formation pour acquérir de nouvelles qualifications ou pour se reconvertir. L'INFPF vous assiste dans vos démarches pour bénéficier de ce programme.</p>
				</details>
				<details class="wp-block-details is-layout-flow wp-block-details-is-layout-flow">
					<summary>

<strong>Plan de Développement des Compétences
						</strong>
					</summary>
					<p>Tout salarié peut bénéficier du plan de développement des compétences de son entreprise. L'INFPF peut vous aider à proposer une formation répondant aux besoins de votre employeur.
					</p>

				</details>
			</div>
		</div>
		<div aria-hidden="true" class="wp-block-spacer" style="height:20px"></div>
		<div class="wp-block-columns is-layout-flex wp-container-core-columns-layout-4 wp-block-columns-is-layout-flex">
			<div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:100%">
				<h2 class="wp-block-heading has-text-color" style="color:#1e68b0">
					<strong style="color: #0b3e6fd6;">Pour les salariés intérimaires</strong>
				</h2>
				<p>Les travailleurs intérimaires ne sont pas laissés pour compte et peuvent également financer leur formation via :</p>
			</div>
		</div>

		<details class="wp-block-details is-layout-flow wp-block-details-is-layout-flow">
			<summary>

								<strong>Financement personnel</strong>

			</summary>
			<p>Avec des facilités de paiement adaptées, l'INFPF rend les formations accessibles à tous.</p>
		</details>

		<details class="wp-block-details is-layout-flow wp-block-details-is-layout-flow">
			<summary>

											<strong>CPF</strong>

			</summary>
			<p>Votre Compte Personnel de Formation est également une option viable pour financer votre formation à l'INFPF.</p>
		</details>
		<details class="wp-block-details is-layout-flow wp-block-details-is-layout-flow">
			<summary>
													<strong>Contrat de professionnalisation</strong>
			</summary>
			<p>Cette formule vous permet de suivre une formation tout en travaillant, avec les frais de formation pris en charge par l'entreprise accueillante.
			</p>
		</details>
		<div aria-hidden="true" class="wp-block-spacer" style="height:20px"></div>
	</div>
	<!-- .entry-content -->
</article>
<!-- #post-384346 --></main><!-- #main -->{% include('footer.html.twig') %}</body></html>{% endblock %}
