{% extends 'base1.html.twig' %}

{% block title %}Les formations de l'Institut National de la Formation Professionnelle Française éligibles au Compte Personnel de Formation
{% endblock %}
{% block stylesheets %}
	<link href="../css/fichier.css" rel="stylesheet"/>

{% endblock %}
{% block body %}
	<img class="im" src="../img/11.png" alt="Nos formations à distance">
	<div class="entry-content">
		<div class="wp-block-yoast-breadcrumb breadcrumbs">
			<span>
				<span>
					<a href="https://www..fr/">Institut national de la formation professionnelle française
					</a>
				</span>
				&gt;
				<span>
					<a href="../ecole/">L’École</a>
				</span>
				&gt;
				<span aria-current="page" class="breadcrumb_last">Les formations éligibles CPF</span>
			</span>
		</div>
		<br>
		<p>Le Compte Personnel de Formation (CPF) représente une opportunité inestimable pour les travailleurs désireux de se former tout au long de leur carrière en France. Cette initiative, centrée sur l'individu plutôt que sur l'employeur, assure la conservation des droits à la formation indépendamment des changements d'emploi.</p>
		<h2 class="wp-block-heading has-text-color" style="color:#1e68b0">
			<strong style="color: #0b3e6fd6;">Qu’est-ce que le Compte Personnel de
																            Formation ?</strong>
		</h2>
		<div class="wp-block-columns is-layout-flex wp-container-core-columns-layout-1 wp-block-columns-is-layout-flex">
			<div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:71%">
				<p>Le CPF alloue annuellement une somme de 500 à 800 euros selon le statut professionnel et le niveau de diplôme de l'individu. Ces fonds, cumulables jusqu'à une limite définie, sont destinés à financer des formations visant l'amélioration des compétences professionnelles, la reconversion, ou l'acquisition d'une certification. Les démarches pour activer ces droits sont simplifiées et peuvent être réalisées directement en ligne.
				</p>

			</div>
			<div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow">
				<div class="wp-block-image">
				<img src="../img/meuf.png" alt="CPF" class="img" />
				</div>
			</div>
		</div>
<div style="display: flex; justify-content: space-between;">
    <div style="flex-basis: 48%;">
        <h2 class="wp-block-heading has-text-color" style="color:#1e68b0">
            <strong style="color: #0b3e6fd6;">Éligibilité et fonctionnement</strong>
        </h2>
        <p style="margin:0;">Accessible dès 16 ans (ou 15 ans pour les apprentis), le CPF concerne salariés, fonctionnaires, indépendants, conjoints collaborateurs, et demandeurs d'emploi. L'alimentation annuelle du compte se fait en euros, avec des spécificités pour les agents publics, qui bénéficient d'une alimentation basée sur les heures.</p>
    </div>
    <div style="flex-basis: 48%;">
        <h2 class="wp-block-heading has-text-color" style="color:#1e68b0">
            <strong style="color: #0b3e6fd6;">Charte de déontologie CPF</strong>
        </h2>
        <div class="wp-block-columns is-layout-flex wp-container-core-columns-layout-2 wp-block-columns-is-layout-flex">
            <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
                <p style="margin:0;">Face aux fraudes, une Charte de Déontologie encadrant l'utilisation du CPF a été instaurée pour garantir transparence, équité, et qualité des formations. L'INFPF s'engage à respecter scrupuleusement ces principes, assurant ainsi une gestion éthique et responsable du CPF.</p>
            </div>
        </div>
    </div>
</div>



		<h2 class="wp-block-heading has-text-color" style="color:#1e68b0;padding-top:15px">
			<strong style="color: #0b3e6fd6;">Formations éligibles au CPF par l'INFPF</strong>
		</h2>
		<p>L'INFPF offre une gamme de formations professionnelles éligibles au CPF, couvrant un large éventail de domaines. Ces formations, reconnues pour leur qualité, sont accessibles via le CPF pour favoriser le développement de compétences, la reconversion professionnelle ou l'obtention de certifications spécifiques.</p>

		{# <div aria-hidden="true" class="wp-block-spacer" style="height:216px"></div>
								<div aria-hidden="true" class="wp-block-spacer" style="height:0px"></div> #}
		<h2 class="wp-block-heading has-text-color" style="color:#1e68b0">
			<strong style="color: #0b3e6fd6;">Utilisation du CPF avec l'INFPF</strong>
		</h2>
		<p>Pour bénéficier d'une formation financée par le CPF avec l'INFPF, il est nécessaire de s'inscrire sur le site moncompteformation.gouv.fr, de sélectionner la formation désirée et de suivre les étapes pour valider le financement. L'INFPF accompagne chaque étape, facilitant l'accès à des formations de qualité.</p>
		<h2 class="wp-block-heading has-text-color" style="color:#1e68b0">
			<strong style="color: #0b3e6fd6;">Pourquoi choisir l'INFPF ?</strong>
		</h2>

				<details class="wp-block-details is-layout-flow wp-block-details-is-layout-flow">
			<summary>La flexibilité :</summary>
			<p>Apprenez à votre rythme, sans contrainte de déplacement, avec la possibilité d'ajuster votre emploi du temps selon vos besoins.</p>
		</details>

				<details class="wp-block-details is-layout-flow wp-block-details-is-layout-flow">
			<summary>La qualité :</summary>
			<p>Bénéficiez de contenus pédagogiques clairs, complets, et d'un suivi personnalisé tout au long de votre formation.</p>
		</details>

				<details class="wp-block-details is-layout-flow wp-block-details-is-layout-flow">
			<summary>La diversité :</summary>
			<p>Un large choix de formations dans divers secteurs, répondant à vos aspirations professionnelles.</p>
		</details>

<div class="sections-container">
    <div class="section">
        <div class="card">
		<img src="../img/avantages-elegible-cpf.png" alt="CPF" class="img" />
            <h2 class="wp-block-heading has-text-color" style="color:#1e68b0">
                <strong style="color: #0b3e6fd6;">Les avantages du compte personnel de formation (CPF) ?</strong>
            </h2>
            <p>Le CPF, universel et accessible à tous les actifs, permet une formation continue, s'adapte aux besoins individuels, est partiellement ou totalement financé par des fonds publics et privés, et favorise la reconversion professionnelle.</p>
        </div>
    </div>
    <div class="section">
        <div class="card">
				<img src="../img/verification-elegible-cpf.png" alt="CPF" class="img" />

            <h2 class="wp-block-heading has-text-color" style="color:#1e68b0">
                <strong style="color: #0b3e6fd6;">Vérification de l'éligibilité au CPF</strong>
            </h2>
            <p>Pour confirmer l'éligibilité d'une formation au CPF, consultez le site officiel ou contactez directement l'INFPF. Les formations doivent répondre à des critères précis pour être financées par le CPF, incluant certifications professionnelles et diplômes reconnus.</p>
                    <a href="lien_vers_le_CPF" class="btn">En savoir plus sur le CPF</a>
</div>
    </div>
</div>
	</div>
	<!-- .entry-content -->
</article>
<!-- #post-417736 --></main><!-- #main -->{% include 'footer.html.twig' %}</body></html>{% endblock %}
