{% extends 'base.html.twig' %}

{% block title %}Formation
{% endblock %}
{% block stylesheets %}
	<link href="../css/fichier.css" rel="stylesheet"/>
    <link href="../css/footer1.css" rel="stylesheet"/>
{% endblock %}
{% block body %}
	<img class="im" src="{{ asset('img/6.png') }}" alt="Nos formations à distance">

	<div class="entry-content">
		<div class="wp-block-yoast-breadcrumb breadcrumbs">
			<span>
				<span>
					<a href="https://www..fr/">Institut national de la formation professionnelle française</a>
				</span>
				&gt;
				<span>
					<a href="https://www..fr/ecole/">L’École</a>
				</span>
				&gt;
				<span aria-current="page" class="breadcrumb_last">Les cours par correspondance du Centre Européen de
																				              Formation</span>
			</span>
		</div>
		<br>
		<p>Respectant le cadre légal établi depuis 1971, l'Institut National de la Formation Professionnelle Française est un établissement d'enseignement à distance sous la vigilance de l'État. Nos programmes de formation à distance sont officiellement reconnus et accrédités, garantissant une éducation de qualité et conforme aux standards académiques et professionnels exigés. À travers une offre pédagogique diversifiée, l'INFPF se démarque par sa capacité à proposer des cursus adaptés à divers objectifs professionnels, couvrant un large éventail de secteurs tels que la finance, la banque, les assurances, l'immobilier, la gestion de portefeuille et le risque, ainsi que des compétences en trading, informatique, design, management, vente et marketing digital.</p>
		<p></p>
		{# <div class="wp-block-columns is-layout-flex wp-container-core-columns-layout-1 wp-block-columns-is-layout-flex">
								<div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:50%">
								<ul>
								<li><strong style="color: #0b3e6fd6;">Des formations préparant à un diplôme national :</strong><br/> <br/>– <a href="../formations/petite-enfance/cap-petite-enfance/">CAP
								                  Petite Enfance</a>,<br/>– <a href="../formations/beaute/cap-esthetique/">CAP
								                  Esthétique</a>,<br/>– <a href="../formations/beaute/cap-coiffure/">CAP Coiffure</a>,<br/>–
								                <a href="../formations/restauration/cap-cuisine/">CAP
								                  Cuisine</a>,<br/>– <a href="../formations/restauration/cap-patissier/">CAP
								                  Pâtissier</a>, <br/>– <a href="../formations/restauration/cap-boulanger/">CAP
								                  Boulanger</a><br/>
								</li>
								<li><strong style="color: #0b3e6fd6;">Des formations préparant au certificat professionnel du Institut national de la formation professionnelle française :
								                </strong><br/><br/>– <a href="../formations/decoration-interieur/decorateur-interieur/">Décorateur
								                  d’intérieur</a>, <br/>– <a href="../formations/metiers-animaliers/educateur-dresseur-canin/">Éducateur
								                  canin</a>,<br/>– <a href="../formations/metiers-animaliers/toiletteur-animalier/">Toiletteur</a>,<br/>–
								                <a href="https://www..fr/template/formation-auxiliaire-veterinaire/">Auxiliaire
								                  vétérinaire</a>,<br/>– <a href="../formations/metiers-animaliers/formation-chevaux-cavalier-soigneur-eleveur/">Cavalier
								                  Soigneur,</a><br/>– <a href="../formations/metiers-animaliers/eleveur-canin-felin-nac/">Éleveur
								                  canin</a>, <br/>– <a href="../formations/beaute/formation-prothesiste-ongulaire/">Prothésiste
								                  ongulaire</a>,<br/>– <a href="../formations/bien-etre/naturopathe/">Naturopathe</a>,<br/>–
								                <a href="../formations/bien-etre/sophrologue/">Sophrologue</a>,<br/>–
								                <a href="../formations/bien-etre/yoga/">Coach en Yoga</a>,<br/>– <a href="../formations/bien-etre/formation-coach-nutrition/">Coach
								                  en Nutrition</a>.
								              </li>
								</ul>
								</div>
								<div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:50%">
								<ul>
								<li><strong style="color: #0b3e6fd6;">Des formations préparant à un titre RNCP</strong> <strong style="color: #0b3e6fd6;">:</strong>  <br/><br/>– <a href="../formations/sante-et-social/titre-rncp-de-secretaire-assistant-medico-social/">Secrétaire
								                  Assistant Médico-Social (SAMS)</a>,<br/>– <a href="../formations/informatique/developpeur-web/">Développeur
								                  Web et Web Mobile,</a> <br/>– <a href="./formations/comptabilite-et-ressources-humaines/comptabilite-et-ressources-humaines.htmlformation-assistant-comptable/">Assistant
								                  Comptable</a>,<br/>– <a href="../metiers/secretaire-comptable/">Secrétaire
								                  Comptable</a>, <br/>– <a href="./formations/comptabilite-et-ressources-humaines/comptabilite-et-ressources-humaines.htmlassistant-ressources-humaines/">Assistant
								                  Ressources Humaines</a>.<br/><br/></li>
								</ul>
								<ul>
								<li><strong style="color: #0b3e6fd6;">Des formations préparant un concours de la fonction publique</strong>
								<strong style="color: #0b3e6fd6;">:</strong><br/><br/>– <a href="../formations/petite-enfance/formation-concours-atsem/">ATSEM</a>,
								              </li>
								</ul>
								</div>
								</div> #}

		<h2 class="wp-block-heading has-text-color" style="color:#1e68b0">
			<strong style="color: #0b3e6fd6;">Plateforme e-learning INFPF : Une extension numérique pour un apprentissage enrichi</strong>
		</h2>
		<div class="wp-block-columns is-layout-flex wp-container-core-columns-layout-3 wp-block-columns-is-layout-flex">
			<div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:100%">
				<p>Avec notre plateforme
					<a href="#">INFPF Learning</a>,
																								              découvrez une nouvelle manière d’apprendre, à l’aide de modules pensés pour vous :</p>
				<ul>

					<li>
						<strong style="color: #0b3e6fd6;">Modules interactifs et social-learning :</strong>
						Participez à des discussions, partagez vos progrès et collaborez avec vos pairs pour une expérience d'apprentissage collective.</li>
					<li>
						<strong style="color: #0b3e6fd6;">Gamification et récompenses :
						</strong>
						Engagez-vous dans votre formation avec des systèmes de points et de badges pour motiver et récompenser vos efforts.</li>
					<li>
						<strong style="color: #0b3e6fd6;">Ressources complémentaires :</strong>
						Accédez à des tutoriels vidéo, des exercices autocorrigés, et un espace emploi pour soutenir votre développement professionnel.</li>

				</ul>
				<p></p>
			</div>
			{# <div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:700px">
				<figure class="wp-block-image size-full is-resized">
					<picture class="wp-image-392515" decoding="async" style="width:250px;height:257px">
						<source data-lazy-srcset="https://www..fr/wp-content/uploads/2019/01/espace-eleve.jpg.webp" srcset="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20250%20257'%3E%3C/svg%3E" type="image/webp"/>
						<img alt="cours par correspondance" data-lazy-src="https://www..fr/wp-content/uploads/2019/01/espace-eleve.jpg" decoding="async" height="257" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20250%20257'%3E%3C/svg%3E" width="250"/>
					</picture>
					<noscript>
						<picture class="wp-image-392515" decoding="async" style="width:250px;height:257px">
							<source srcset="https://www..fr/wp-content/uploads/2019/01/espace-eleve.jpg.webp" type="image/webp"/>
							<img alt="cours par correspondance" decoding="async" height="257" src="https://www..fr/wp-content/uploads/2019/01/espace-eleve.jpg" width="250"/>
						</picture>
					</noscript>
				</figure>
			</div> #}
		</div>
		<h2 class="wp-block-heading has-text-color" style="color:#1e68b0">
			<strong style="color: #0b3e6fd6;">Un accompagnement personnalisé par des experts</strong>
		</h2>
		<div class="wp-block-columns is-layout-flex wp-container-core-columns-layout-4 wp-block-columns-is-layout-flex">
			<div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:56%">
				<p>L'INFPF assure un suivi personnalisé tout au long de votre parcours de formation. Nos formateurs et coachs, sont dédiés à votre réussite, vous offrant conseils, soutien dans l'organisation de vos études, aide pour la préparation de vos examens ou concours, et assistance dans vos démarches de stages ou d'emploi.</p>
				<ul>
					<li>Aide à l’organisation de votre travail</li>
					<li>Réponses aux questions de cours</li>
					<li>Correction de vos devoirs, de votre rapport de stage ou encore du dossier d’histoire-géographie (pour
																								                les élèves qui ont des matières générales à passer)</li>
					<li>Renseignements sur l’examen ou le concours visé</li>
					<li>Soutien dans la rédaction de votre CV et de votre lettre de motivation</li>
					<li>Recherche de stage</li>
				</ul>
			</div>
			<div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow">
				<img src="{{ asset('img/nos_cours_par_correspondance.png') }}" alt="soutien pédagogique" style="width:100%; height:auto;">
			</div>
		</div>
		<p>Grâce à l'expertise de l'INFPF et à notre engagement envers la qualité de l'enseignement à distance, embarquez dans un parcours d'apprentissage qui respecte votre rythme et vos ambitions, tout en ouvrant la porte à de nouvelles opportunités professionnelles dans les domaines qui vous passionnent.</p>
		<h2 class="wp-block-heading has-text-color" style="color:#1e68b0">
			<strong style="color: #0b3e6fd6;">Supports pédagogiques adaptatifs pour un apprentissage à votre rythme</strong>
		</h2>
		<p>
			<a href="https://www..fr/">L'Institut National de la Formation Professionnelle Française
			</a>met<strong style="color: #0b3e6fd6;"></strong> à votre disposition des supports pédagogiques conçus pour faciliter l'apprentissage et la mémorisation. Que vous préfériez les formats papier ou numérique, nos ressources sont pensées pour répondre à vos besoins :</p>
		<div class="wp-block-columns is-layout-flex wp-container-core-columns-layout-2 wp-block-columns-is-layout-flex">
			<div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:100%">
				<ul>
					<li>
						<strong style="color: #0b3e6fd6;">Matériaux didactiques évolutifs :
						</strong>
						Recevez vos cours en format papier, agrémentés d'illustrations, de schémas explicatifs, et organisés dans des classeurs thématiques pour une étude structurée et efficace. Ces supports sont idéaux pour une mémorisation optimale et un apprentissage autonome.</li>
				</ul>
				<ul>
					<li>
						<strong style="color: #0b3e6fd6;">Résumés et exercices de révision :
						</strong>
						À la fin de chaque module, des fiches récapitulatives et des exercices d'auto-évaluation sont proposés pour consolider vos acquis et vérifier votre compréhension des sujets abordés.</li>
					<li>
						<strong style="color: #0b3e6fd6;">Devoirs et évaluations :
						</strong>
						Les devoirs, à soumettre pour correction, permettent un suivi régulier de votre progression et une validation concrète de vos compétences.</li>
				</ul>
			</div>
		</div>

	</div>
	<!-- .entry-content -->

</article>
<!-- #post-34 --></main><!-- #main -->{% include 'footer.html.twig' %}</body></html>{% endblock %}
