{% extends 'base.html.twig' %}


{% block title %}Formation
{% endblock %}
{% block stylesheets %}
	<link href="../css/fichier.css" rel="stylesheet"/>
    <link href="../css/footer1.css" rel="stylesheet"/>
{% endblock %}
{% block body %}
	<img class="im" src="{{ asset('img/5.png') }}" alt="Nos formations à distance">
	<div class="entry-content">
		<div class="wp-block-yoast-breadcrumb breadcrumbs">
			<span>
				<span>
					<a href="https://www..fr/">Institut national de la formation professionnelle française</a>
				</span>
				&gt;
				<span>
					<a href="https://www..fr/ecole/">L’École</a>
				</span>
				&gt;
				<span aria-current="page" class="breadcrumb_last">Notre méthode d’apprentissage</span>
			</span>
		</div>

		<h2 class="wp-block-heading has-text-color" style="color:#1e68b0;padding-top:20px">
			<strong style="color: #0b3e6fd6;">Flexibilité et autonomie dans votre parcours d'apprentissage</strong>
		</h2>
		<br>
		<p style="margin:0;">L'Institut National de la Formation Professionnelle Française (INFPF) vous offre la possibilité de personnaliser votre parcours éducatif sur une durée maximale de trois ans. Cette flexibilité vous permet d'adapter vos périodes d'étude et votre planning selon vos obligations personnelles et professionnelles.<br>
			Que vous soyez en emploi ou que vous disposiez de temps libre, notre structure vous permet d'avancer à votre rythme dans vos révisions. Ainsi, il vous est possible de compléter votre formation à distance, et d'obtenir votre diplôme ou certificat dans un délai d'un, deux, ou trois ans, selon votre cadence personnelle. En cas de difficulté, vous avez l'opportunité de repasser les modules non réussis lors de la session suivante sans souci.</p>

		<h2 class="wp-block-heading has-text-color" style="color:#1e68b0;padding-top:20px">
			<strong style="color: #0b3e6fd6;">Supports de cours interactifs et disponibles en formats papier et numérique
			</strong>
		</h2>
		<div
			class="wp-block-columns is-layout-flex wp-container-core-columns-layout-1 wp-block-columns-is-layout-flex">
			<!-- Colonne de texte à gauche -->
			<div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:66.66%">
				<p>Nos supports de cours sont conçus pour être à la fois intuitifs et facilement accessibles, vous permettant de progresser de manière fluide. Dès votre inscription, vous recevrez vos matériaux de cours adaptés à votre progression et également accessibles en ligne via votre espace personnel. Après chaque module, des exercices d'évaluation vous sont proposés pour vérifier votre assimilation du contenu et votre compréhension des concepts abordés. En cas de question ou de difficulté, votre formateur est à votre disposition pour vous guider et vous soutenir tout au long de votre progression.</p>
				<p>L'INFPF vous accompagne dans votre parcours d'apprentissage à distance, y compris dans vos démarches pour trouver des stages. Grâce à nos partenariats solides avec des entreprises et acteurs locaux dans diverses régions telles que Paris, Marseille, Lyon, ou Lille, nous vous facilitons l'obtention d'une convention de stage sans frais supplémentaires.</p>
			</div>
			<!-- Colonne d'image à droite -->
			<div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:33.33%">
				<img src="{{ asset('img/3-support.png') }}" alt="Digital Education" style="width:100%; height:auto;">
			</div>
		</div>

		<h2 class="wp-block-heading has-text-color" style="color:#1e68b0">
			<strong style="color: #0b3e6fd6;padding-top:20px;">INFPF Learning : Votre portail e-learning pour un apprentissage facilité à distance
			</strong>
		</h2>
		<div class="wp-block-columns is-layout-flex wp-container-core-columns-layout-2 wp-block-columns-is-layout-flex">
			<div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:100%">
				<p>Exclusivement réservé à nos étudiants, l'espace élève INFPF est conçu pour enrichir et compléter votre formation à distance. Cette plateforme intuitive améliore l'interaction entre élèves et formateurs, mettant à votre disposition toutes les ressources pédagogiques nécessaires.</p>
				<p>Une fois connecté avec vos identifiants, vous aurez accès à une gamme complète d'outils e-learning :
				</p>
				<p>Votre espace élève inclut :</p>
				<ul>

					<li>
						<strong style="color: #0b3e6fd6;">Social-learning</strong>
						: échangez avec d'autres étudiants sur vos devoirs, vos progrès, et l'examen.</li>

					<li>
						<strong style="color: #0b3e6fd6;">Gamification</strong>
						: votre engagement et vos réussites sont récompensés par des badges et des points. Plus vous accumulez de points, plus vous grimpez dans le classement de votre promotion.</li>

					<li>
						<strong style="color: #0b3e6fd6;">Cours et devoirs auto corrigés en ligne</strong>
						: optimisez votre temps d'apprentissage.</li>

					<li>
						<strong style="color: #0b3e6fd6;">Jeux ludiques</strong>
						: apprenez de manière ludique avec des quiz, des glisser-déposer, et des sélections d'images.</li>

					<li>
						<strong style="color: #0b3e6fd6;">Tutoriels vidéo</strong>
						: maîtrisez les compétences professionnelles étape par étape.</li>

					<li>
						<strong style="color: #0b3e6fd6;">Espace emploi</strong>
						: bénéficiez d'un guide pour rédiger votre CV, ainsi que d'offres d'emploi et de stage.</li>

					<li>
						<strong style="color: #0b3e6fd6;">Profil élève</strong>
						: consultez votre calendrier, vos notes, les livraisons de cours et vos paiements.</li>

				</ul>
				<p>86% de nos étudiants expriment une grande satisfaction vis-à-vis de notre plateforme d'apprentissage, témoignant de la qualité et de l'efficacité de notre approche pédagogique.</p>
			</div>
		</div>
<div class="sections-container">
    <div class="section">
        <div class="card">
		<img src="{{ asset('img/finance-forma-dist.png') }}" alt="Digital Education" style="width:100%; height:auto;">
            <h2 class="wp-block-heading has-text-color" style="color:#1e68b0;    display: flex;
    align-items: flex-end;
    column-gap: 26px;
    position: relative;
    font-size: 3.3rem;
    font-weight: 100;
    letter-spacing: -1px;
    z-index: 0;
    color: #6fafdf;
    max-width: 100%;
    margin: 0 0 20px 0;
    padding: 0;
    flex-wrap: wrap">
                <strong style="color: #0b3e6fd6;padding-top:15px;">Financer votre formation à distance</strong>
            </h2>
            <p>Diverses options de financement sont disponibles pour soutenir votre formation à distance, adaptées à votre profil :</p>
            <ul>
                <li>Le compte personnel de formation (CPF)</li>
                <li>La formation en apprentissage</li>
                <li>Le soutien de Pôle Emploi</li>
                <li>Les financements via les OPCO</li>
                <li>Les aides régionales</li>
                <li>Les financements personnels</li>
            </ul>
        </div>
    </div>
    <div class="section">
        <div class="card">
			<img src="{{ asset('img/soutien-pedago.png') }}" alt="Digital Education" style="width:100%; height:auto;">
            <h2 class="wp-block-heading has-text-color" style="color:#1e68b0">
                <strong style="color: #0b3e6fd6;padding-top:15px;">Un soutien pédagogique continu</strong>
            </h2>
            <div class="wp-block-columns is-layout-flex wp-container-core-columns-layout-3 wp-block-columns-is-layout-flex">
                <div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:100%">
                    <p>Du début à la fin de votre formation, qui peut s'étendre de un à trois ans, notre équipe de formateurs, nos coachs, et le personnel administratif sont là pour vous épauler. Joignables par divers moyens, ils sont à votre disposition pour vous accompagner à chaque étape de votre apprentissage à distance.</p>
                </div>
            </div>
        </div>
    </div>
</div>
	</div>
	<!-- .entry-content -->
</article>
<!-- #post-33 --></main><!-- #main -->{% include 'footer.html.twig' %}</body></html>{% endblock %}
