{% extends 'base1.html.twig' %}

{% block title %}Formation
{% endblock %}
{% block stylesheets %}
	<link href="../css/fichier.css" rel="stylesheet"/>


{% endblock %}
{% block body %}
	<img class="im" src="../img/8.png" alt="Nos formations à distance">

	<div class="entry-content">
		<div class="wp-block-yoast-breadcrumb breadcrumbs">
			<span>
				<span>
					<a href="https://www..fr/">Institut National de la Formation Professionnelle Française</a>
				</span>
				&gt;
				<span>
					<a href="https://www..fr/ecole/">L’École</a>
				</span>
				&gt;
				<span aria-current="page" class="breadcrumb_last">Les équipes de l'Institut National de la Formation Professionnelle Française</span>
			</span>
		</div>
		<br>
		<p>À l'INFPF, nous comprenons que l'apprentissage à distance ne signifie pas apprendre seul. C'est pourquoi nous valorisons particulièrement l'accompagnement et le suivi pédagogique personnalisé pour chaque étudiant, afin de garantir non seulement leur réussite académique mais aussi leur épanouissement professionnel.
		</p>
		<p>
			<strong style="color: #0b3e6fd6;">Dès votre inscription, un premier rendez-vous est fixé avec votre coach personnel.</strong>
			Ce dernier vous guide à travers les fonctionnalités de votre espace e-learning, vous aide à démarrer sur de bonnes bases et planifie des rencontres régulières pour suivre votre progression de manière personnalisée.</p>
		<p>
			<strong style="color: #0b3e6fd6;">Nos professeurs référents,</strong>
			spécialistes dans leur domaine, sont à votre écoute pour répondre à toutes vos questions concernant les cours ou les corrections de vos devoirs. L’équipe dédiée au suivi des élèves veille à votre parcours administratif, s'occupant de tout, des conventions de stage à la livraison de votre matériel pédagogique.</p>
		<p></p>


		<h2 class="wp-block-heading has-text-color" style="color:#1e68b0">
			<strong style="color: #0b3e6fd6;">L’équipe pédagogique</strong>
		</h2>
		<p>
			<strong style="color: #0b3e6fd6;">L'équipe pédagogique de l'INFPF
			</strong>se compose de professionnels passionnés, tous engagés dans la mission de vous aider à atteindre vos objectifs tout au long de votre formation.
		</p>

<details class="wp-block-details is-layout-flow wp-block-details-is-layout-flow">
    <summary>Les chefs de projets pédagogiques :</summary>
    <div style="display: flex; align-items: center; justify-content: space-around;">
        <img src="../img/chef-pedago.png" alt="Nos formations à distance" style="flex: 0 0 48%; max-width: 30%;">
        <div style="flex: 0 0 48%; max-width: 48%;">
            <p>Nos chefs de projets pédagogiques conçoivent des programmes d'apprentissage adaptés et innovants, en collaboration étroite avec des formateurs et des experts. Leur objectif est de vous fournir une formation efficace et pertinente, facilitant ainsi votre réussite professionnelle et personnelle.</p>
            <p>Ces professionnels travaillent également en étroite collaboration avec nos professeurs et experts en e-learning pour élaborer des programmes pédagogiques de grande qualité et des méthodes d’apprentissages innovants.</p>
        </div>
    </div>
</details>

<details class="wp-block-details is-layout-flow wp-block-details-is-layout-flow">
    <summary>Les professeurs :</summary>
    <div style="display: flex; align-items: center; justify-content: space-around;">
        <div style="flex: 0 0 48%; max-width: 48%;">
            <p>Chaque professeur de l'INFPF détient une expertise unique et est dévoué à vous accompagner dans l'atteinte de vos objectifs éducatifs. Sélectionnés pour leur pédagogie et leur expérience professionnelle approfondie, ils sont à votre disposition pour toute question.</p>
        </div>
        <img src="../img/profess.png" alt="Nos formations à distance" style="flex: 0 0 48%; max-width: 30%;">
    </div>
</details>

<details class="wp-block-details is-layout-flow wp-block-details-is-layout-flow">
    <summary>Les coachs pédagogiques :</summary>
    <div style="display: flex; align-items: center; justify-content: space-around;">
        <img src="../img/coach-pedagoo.png" alt="Nos formations à distance" style="flex: 0 0 48%; max-width: 30%;">
        <div style="flex: 0 0 48%; max-width: 48%;">
            <p>Les coachs pédagogiques offrent un soutien sur mesure, s'adaptant aux besoins individuels de chaque étudiant. Ils sont là pour répondre à vos interrogations, vous conseiller et vous motiver tout au long de votre parcours.</p>
        </div>
    </div>
</details>


<div style="display: flex; align-items: flex-start; justify-content: space-between; flex-wrap: wrap;    padding-top: 15px;">
    <div style="flex: 0 0 48%; max-width: 48%;">
        <h2 class="wp-block-heading has-text-color" style="color:#1e68b0">
            <strong style="color: #0b3e6fd6;">Le service élèves</strong>
        </h2>
        <p>Le service élèves est spécialement conçu pour vous accompagner durant toute la durée de votre formation. Nos conseillers pédagogiques vous aident à choisir la formation adéquate, à élaborer votre projet professionnel et à répondre à vos questions concernant le déroulement de vos études.</p>
    </div>

    <div style="flex: 0 0 48%; max-width: 48%;">
        <h2 class="wp-block-heading has-text-color" style="color:#1e68b0">
            <strong style="color: #0b3e6fd6;">L’équipe e-learning</strong>
        </h2>
        <p>L'équipe e-learning travaille sans relâche pour développer et améliorer nos outils de formation à distance, rendant l'apprentissage en ligne aussi efficace et interactif que possible. Grâce à leur expertise, l'espace élève INFPF Learning est en constante évolution pour mieux répondre à vos attentes.</p>
    </div>
</div>
	</div>
	<!-- .entry-content -->
</article>
<!-- #post-35 --></main><!-- #main -->{% include 'footer.html.twig' %}</body></html>{% endblock %}
