{% extends 'base1.html.twig' %}

{% block title %}Formation
{% endblock %}
{% block stylesheets %}
	<link href="../css/fichier.css" rel="stylesheet"/>

{% endblock %}
{% block body %}
	<h1 class="bandeau-titre-principal" style="background: linear-gradient(90deg, #0070B8 0%, #0070B8 100%);">
		Un parrainage qui vous avantage
	</h1>
	<div class="entry-content">
		<div class="wp-block-yoast-breadcrumb breadcrumbs">
			<span>
				<span>
					<a href="https://www..fr/">Institut national de formation professionnel française</a>
				</span>
				&gt;
				<span>
					<a href="https://www..fr/ecole/">L’École</a>
				</span>
				&gt;
				<span aria-current="page" class="breadcrumb_last">Parrainage élève</span>
			</span>
		</div>
		<div class="elementor elementor-40" data-elementor-id="40" data-elementor-post-type="page" data-elementor-type="wp-post">
			<section class="elementor-section elementor-top-section elementor-element elementor-element-331e99f7 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="331e99f7" data-settings='{"background_background":"classic"}'>
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-21ba4c8c" data-element_type="column" data-id="21ba4c8c">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-5cfd03dd elementor-widget elementor-widget-image" data-element_type="widget" data-id="5cfd03dd" data-widget_type="image.default">
								<div class="elementor-widget-container">
									<picture class="attachment-large size-large wp-image-401978" decoding="async">
										<source data-lazy-srcset="https://www..fr/wp-content/uploads/2019/12/ico-megaphone.png.webp" srcset="https://www..fr/wp-content/uploads/2019/12/ico-megaphone.png.webp" type="image/webp"/>
										<img alt="" class="entered lazyloaded" data-lazy-src="https://www..fr/wp-content/uploads/2019/12/ico-megaphone.png" data-ll-status="loaded" decoding="async" height="86" src="https://www..fr/wp-content/uploads/2019/12/ico-megaphone.png" width="82"/>
									</picture>
									<noscript>
										<picture class="attachment-large size-large wp-image-401978" decoding="async">
											<source
											srcset="https://www..fr/wp-content/uploads/2019/12/ico-megaphone.png.webp" type="image/webp"/>
											{# <img alt="" decoding="async" height="345" loading="lazy" sizes="(max-width: 278px) 100vw, 278px" src="https://www..fr/wp-content/uploads/2022/01/visuel-formation-financable-cpf.jpg" srcset="https://www..fr/wp-content/uploads/2022/01/visuel-formation-financable-cpf.jpg 278w, https://www..fr/wp-content/uploads/2022/01/visuel-formation-financable-cpf-242x300.jpg 242w" width="278"/> #}
											" height="86" src="https://www..fr/wp-content/uploads/2019/12/ico-megaphone.png" width="82"/>
										</picture>
									</noscript>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-6942f7d5" data-element_type="column" data-id="6942f7d5">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-204a8429 elementor-widget elementor-widget-heading" data-element_type="widget" data-id="204a8429" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<div class="elementor-heading-title elementor-size-default">Une offre de parrainage !</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-659c76bd elementor-widget elementor-widget-heading" data-element_type="widget" data-id="659c76bd" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<div class="elementor-heading-title elementor-size-default">des remises en euros<br/>pour
																				                        vous<br/>et
										<span style="color: #647883">votre filleul !</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-7eca0ce" data-element_type="column" data-id="7eca0ce">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-41b93d24 elementor-widget elementor-widget-image" data-element_type="widget" data-id="41b93d24" data-widget_type="image.default">
								<div class="elementor-widget-container">
									<picture class="attachment-large size-large wp-image-401979" decoding="async">
										<source data-lazy-sizes="(max-width: 384px) 100vw, 384px" data-lazy-srcset="https://www..fr/wp-content/uploads/2019/12/visuel-femme-parrainage.png.webp 384w, https://www..fr/wp-content/uploads/2019/12/visuel-femme-parrainage-300x167.png.webp 300w" sizes="(max-width: 384px) 100vw, 384px" srcset="https://www..fr/wp-content/uploads/2019/12/visuel-femme-parrainage.png.webp 384w, https://www..fr/wp-content/uploads/2019/12/visuel-femme-parrainage-300x167.png.webp 300w" type="image/webp"/>
										<img alt="" class="entered lazyloaded" data-lazy-sizes="(max-width: 384px) 100vw, 384px" data-lazy-src="https://www..fr/wp-content/uploads/2019/12/visuel-femme-parrainage.png" data-lazy-srcset="https://www..fr/wp-content/uploads/2019/12/visuel-femme-parrainage.png 384w, https://www..fr/wp-content/uploads/2019/12/visuel-femme-parrainage-300x167.png 300w" data-ll-status="loaded" decoding="async" height="214" sizes="(max-width: 384px) 100vw, 384px" src="https://www..fr/wp-content/uploads/2019/12/visuel-femme-parrainage.png" srcset="https://www..fr/wp-content/uploads/2019/12/visuel-femme-parrainage.png 384w, https://www..fr/wp-content/uploads/2019/12/visuel-femme-parrainage-300x167.png 300w" width="384"/>
									</picture>
									<noscript>
										<picture class="attachment-large size-large wp-image-401979" decoding="async" loading="lazy">
											<source
											sizes="(max-width: 384px) 100vw, 384px" srcset="https://www..fr/wp-content/uploads/2019/12/visuel-femme-parrainage.png.webp 384w, https://www..fr/wp-content/uploads/2019/12/visuel-femme-parrainage-300x167.png.webp 300w" type="image/webp"/>
											{# <img alt="" decoding="async" height="345" loading="lazy" sizes="(max-width: 278px) 100vw, 278px" src="https://www..fr/wp-content/uploads/2022/01/visuel-formation-financable-cpf.jpg" srcset="https://www..fr/wp-content/uploads/2022/01/visuel-formation-financable-cpf.jpg 278w, https://www..fr/wp-content/uploads/2022/01/visuel-formation-financable-cpf-242x300.jpg 242w" width="278"/> #}
											" height="214" loading="lazy" sizes="(max-width: 384px) 100vw, 384px" src="https://www..fr/wp-content/uploads/2019/12/visuel-femme-parrainage.png" srcset="https://www..fr/wp-content/uploads/2019/12/visuel-femme-parrainage.png 384w, https://www..fr/wp-content/uploads/2019/12/visuel-femme-parrainage-300x167.png 300w" width="384"/>
										</picture>
									</noscript>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-section elementor-top-section elementor-element elementor-element-3884c21 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="3884c21">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3b7a8539" data-element_type="column" data-id="3b7a8539">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-3225b893 elementor-widget elementor-widget-heading" data-element_type="widget" data-id="3225b893" data-widget_type="heading.default">
								<div class="elementor-widget-container">
									<div class="elementor-heading-title elementor-size-default">financez votre formation<br/>
										en donnant de la voix,<br/>
										<span style="color:#F7941E">tout simplement !</span>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-703b1433 elementor-widget elementor-widget-text-editor" data-element_type="widget" data-id="703b1433" data-widget_type="text-editor.default">
								<div class="elementor-widget-container">
									<ol>
										<li>Parlez de votre école autour de vous !</li>
										<li>Une personne de votre entourage est intéressée ?<br/>Communiquez-lui votre n° d’élève.</li>
										<li>Demandez à votre filleul de nous contacter<br/>– avec votre n° d’élève –
											<strong style="color: #f7941e">au +(33) 04 89 05 03 55</strong>
										</li>
									</ol>
								</div>
							</div>
							<div class="elementor-element elementor-element-24f5f0c0 elementor-widget elementor-widget-text-editor" data-element_type="widget" data-id="24f5f0c0" data-widget_type="text-editor.default">
								<div class="elementor-widget-container">
									<p>
										<strong style="color: #0b3e6fd6;">Votre 1er filleul devient élève ?</strong><br/><strong style="color: #f7941e">100€
																						                          pour
																						                          vous et 100€ pour lui !</strong><br/><strong style="color: #0b3e6fd6;">Plus vous parrainez</strong>,
										<strong style="color: #f7941e">plus vous augmentez<br/>votre remise !</strong>
										(voir tableau)</p>
								</div>
							</div>
							<div class="elementor-element elementor-element-4d4be578 elementor-hidden-phone elementor-widget elementor-widget-image" data-element_type="widget" data-id="4d4be578" data-widget_type="image.default">
								<div class="elementor-widget-container">
									<picture class="attachment-large size-large wp-image-401980" decoding="async">
										<source data-lazy-srcset="https://www..fr/wp-content/uploads/2019/12/ico-fleche-parrainage-v2.png.webp" srcset="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20250%2047'%3E%3C/svg%3E" type="image/webp"/>
										<img alt="" data-lazy-src="https://www..fr/wp-content/uploads/2019/12/ico-fleche-parrainage-v2.png" decoding="async" height="47" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20250%2047'%3E%3C/svg%3E" width="250"/>
									</picture>
									<noscript>
										<picture class="attachment-large size-large wp-image-401980" decoding="async" loading="lazy">
											<source
											srcset="https://www..fr/wp-content/uploads/2019/12/ico-fleche-parrainage-v2.png.webp" type="image/webp"/>
											{# <img alt="" decoding="async" height="345" loading="lazy" sizes="(max-width: 278px) 100vw, 278px" src="https://www..fr/wp-content/uploads/2022/01/visuel-formation-financable-cpf.jpg" srcset="https://www..fr/wp-content/uploads/2022/01/visuel-formation-financable-cpf.jpg 278w, https://www..fr/wp-content/uploads/2022/01/visuel-formation-financable-cpf-242x300.jpg 242w" width="278"/> #}
											" height="47" loading="lazy" src="https://www..fr/wp-content/uploads/2019/12/ico-fleche-parrainage-v2.png" width="250"/>
										</picture>
									</noscript>
								</div>
							</div>
						</div>
					</div>
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-59a3ee41" data-element_type="column" data-id="59a3ee41">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-f996d1 elementor-widget elementor-widget-html" data-element_type="widget" data-id="f996d1" data-widget_type="html.default">
								<div class="elementor-widget-container">
									<table border="0" cellpadding="0" cellspacing="0" class="tableau__offre__parrainage">
										<tbody>
											<tr>
												<th>Filleuls</th>
												<th>Montant</th>
												<th>Total remise</th>
											</tr>
											<tr>
												<td>
													<span>1<sup>er</sup>
													</span>
												</td>
												<td>
													<span>100</span>
												</td>
												<td>
													<span style="font-weight: bold">-100<sup>€</sup>
													</span>
												</td>
											</tr>
											<tr>
												<td>
													<span>2<sup>ème</sup>
													</span>
												</td>
												<td>
													<span>200</span>
												</td>
												<td>
													<span style="font-weight: bold">-300<sup>€</sup>
													</span>
												</td>
											</tr>
											<tr>
												<td>
													<span>3<sup>ème</sup>
													</span>
												</td>
												<td>
													<span style="font-weight: bold">300</span>
												</td>
												<td>
													<span style="font-weight: bold">-600<sup>€</sup>
													</span>
												</td>
											</tr>
											<tr>
												<td>
													<span>4<sup>ème</sup>
													</span>
												</td>
												<td>
													<span style="font-weight: bold">300</span>
												</td>
												<td>
													<span style="font-weight: bold">-900<sup>€</sup>
													</span>
												</td>
											</tr>
											<tr>
												<td>
													<span>5<sup>ème</sup>
													</span>
												</td>
												<td>
													<span style="font-weight: bold">300</span>
												</td>
												<td>
													<span style="font-weight: bold">-1200<sup>€</sup>
													</span>
												</td>
											</tr>
											<tr>
												<td>
													<span>6<sup>ème</sup>
													</span>
												</td>
												<td>
													<span style="font-weight: bold">300</span>
												</td>
												<td>
													<span style="font-weight: bold">-1500<sup>€</sup>
													</span>
												</td>
											</tr>
											<tr>
												<td>
													<span>7<sup>ème</sup>
													</span>
												</td>
												<td>
													<span style="font-weight: bold">300</span>
												</td>
												<td>
													<span style="font-weight: bold">-1800<sup>€</sup>
													</span>
												</td>
											</tr>
											<tr>
												<td>
													<span>8<sup>ème</sup>
													</span>
												</td>
												<td>
													<span style="font-weight: bold">300</span>
												</td>
												<td>
													<span style="font-weight: bold">-2100<sup>€</sup>
													</span>
												</td>
											</tr>
											<tr>
												<td>
													<span>9<sup>ème</sup>
													</span>
												</td>
												<td>
													<span style="font-weight: bold">300</span>
												</td>
												<td>
													<span style="font-weight: bold">-2400<sup>€</sup>
													</span>
												</td>
											</tr>
											<tr>
												<td>
													<span>10<sup>ème</sup>
													</span>
												</td>
												<td>
													<div class="tableau__offre__parrainage__offerte">Votre formation offerte</div>
												</td>
												<td></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="elementor-section elementor-top-section elementor-element elementor-element-7b8484c6 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section" data-id="7b8484c6">
				<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-35bcd7f8" data-element_type="column" data-id="35bcd7f8">
						<div class="elementor-widget-wrap elementor-element-populated">
							<div class="elementor-element elementor-element-2e7da2a2 elementor-widget elementor-widget-spacer" data-element_type="widget" data-id="2e7da2a2" data-widget_type="spacer.default">
								<div class="elementor-widget-container">
									<div class="elementor-spacer">
										<div class="elementor-spacer-inner"></div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-644621e1 elementor-widget elementor-widget-text-editor" data-element_type="widget" data-id="644621e1" data-widget_type="text-editor.default">
								<div class="elementor-widget-container">
									<strong style="color: #0b3e6fd6;">CONDITIONS GÉNÉRALES :</strong>
									Offre valable et cumulable sur l’ensemble de la durée de
																		                      validité d’inscription de 3 ans. Si la date de fin de contrat du parrain est dépassée, celui-ci
																		                      pourra toujours activer l’offre parrainage mais seul le filleul bénéficiera de la remise. L’offre
																		                      ne peut être validée que si le parrain est à jour de son échéancier de paiement au moment de
																		                      l’inscription du filleul. Le numéro d’élève du parrain doit être impérativement indiqué à
																		                      l’inscription du filleul. Aucune demande post-inscription ne sera acceptée. Chaque remise sera
																		                      validée dans un délai minimum de 30 jours après l’inscription du nouveau filleul. La remise
																		                      cumulée sera appliquée sur les dernières mensualités de l’échéancier. L’offre se termine si le
																		                      total des remises est supérieur ou égal au prix total de la formation. Dans ce cas, aucun
																		                      versement complémentaire ne sera effectué. Si le total des remises dépasse le solde restant dû, un
																		                      remboursement sera effectué. Cette offre ne concerne pas les élèves bénéficiant d’une prise en
																		                      charge intégrale. Pour les élèves bénéficiant d’une prise en charge partielle, l’offre peut
																		                      s’appliquer sur la partie financée sur fond propre si la partie prise en charge est entièrement
																		                      validée par l’organisme financeur en fin de formation.
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<!-- .entry-content -->
</article>
<!-- #post-40 --></main><!-- #main -->{% include 'footer.html.twig' %}</body></html>{% endblock %}
