{% extends 'base.html.twig' %}


{% block title %}Pourquoi choisir la formation par correspondance du INFPF ?
{% endblock %}
{% block stylesheets %}
	<link href="../css/fichier.css" rel="stylesheet"/>
    <link href="../css/footer1.css" rel="stylesheet"/>
{% endblock %}
{% block body %}
		<img class="im" src="{{ asset('img/4.png') }}" alt="Nos formations à distance">
<div class="entry-content">
		<div class="wp-block-yoast-breadcrumb breadcrumbs">
			<span>
				<span>
					<a href="https://www..fr/">l'Institut National de la Formation Professionnelle Française</a>
				</span>
				&gt;
				<span>
					<a href="https://www..fr/ecole/">L’École</a>
				</span>
				&gt;
				<span aria-current="page" class="breadcrumb_last">Pourquoi choisir l'infpf ?</span>
			</span>
		</div>
		<br>
		<p style="padding-top:15px;padding-bottom:20px;"><strong>L'Institut National de la Formation Professionnelle Française </strong>se positionne en leader de la formation à distance, proposant des programmes d'apprentissage orientés vers l'avenir pour garantir une insertion professionnelle rapide. Notre mission est de rendre l'apprentissage accessible grâce à des outils modernes et un accompagnement sur mesure.</p>

		<h2 class="wp-block-heading has-text-color" style="color:#1e68b0;">
			<strong style="color: #0b3e6fd6;">Faites le choix judicieux de vous former à distance et à votre rythme avec l'INFPF pour assurer votre succès professionnel !</strong>

		</h2>
		<p style="padding:0;margin:0;">Vous pouvez vous inscrire à la formation par correspondance de l'INFPF tout au long de
																					          l’année<strong style="color: #0b3e6fd6;">.</strong>
			Selon vos contraintes personnelles et professionnelles, vous
			<strong style="color: #0b3e6fd6;">organisez
																												            votre plan d’étude à votre rythme</strong>. Selon le rythme choisi, vous pourrez finir entièrement l’une de
																												          nos formations.</p>
		<p style="padding-bottom:15px;margin:0;">De plus, nos supports modernes d’apprentissage vous permettent d’étudier où vous voulez et quand vous voulez.
																					          Connectez-vous directement sur votre
			<strong style="color: #0b3e6fd6;">espace élève en ligne</strong>
			pour accéder à
																					          l’ensemble de nos services e-learning.</p>
		<img class="im" src="{{ asset('img/pourquoi-choisir-1.png') }}" alt="Nos formations à distance">
			<div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:77%">

				<h2 class="wp-block-heading has-text-color" style="color:#1e68b0">
					<strong style="color: #0b3e6fd6;padding-top:15px;">Une méthode d'enseignement adaptée à tous</strong>
				</h2>
				<p style="padding:0;margin:0;">La formation à distance de l'INFPF réinvente l'apprentissage traditionnel en intégrant des outils pédagogiques innovants et une équipe enseignante qualifiée.</p>

				<p style="padding:0;margin:0;">Nous proposons nos formations dans des formats numériques et papier. Au fil de votre parcours, vous recevrez des leçons claires et enrichies, rédigées par des professionnels dans leurs domaines.</p>

				<p style="padding:0;margin:0;">En complément, votre accès permanent à l'espace élève INFPF vous offre : versions numériques des cours, exercices autocorrigés, quizz, entraînements pratiques, et tutoriels vidéo.</p>

			</div>
			{# <div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:23%">
				<div class="wp-block-image">

					<img alt="formation par correspondance" decoding="async" height="250" sizes="(max-width: 250px) 100vw, 250px" src="{{ asset('img/picture.webp') }}" width="250"/>

				</div>
			</div> #}
		
		{# <h2 class="wp-block-heading has-text-color" style="color:#1e68b0">
											<strong style="color: #0b3e6fd6;">Un suivi personnalisé : la force de
																				            notre formation par correspondance</strong>
										</h2>
										<div class="wp-block-columns is-layout-flex wp-container-core-columns-layout-2 wp-block-columns-is-layout-flex">
											<div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:56%">
												<p>Un accompagnement personnalisé, clé de notre succès en formation à distance
																							Nous nous engageons à vous offrir un suivi personnalisé pour une durée maximale de 3 ans, permettant à nos étudiants de progresser à leur rythme sans se sentir isolés. Chaque apprenant bénéficie d'un coach personnel dédié, assurant un accompagnement jusqu'à l'achèvement de la formation.</p>
								
												<p>Nos formateurs sont accessibles par téléphone, email, ou via l'espace INFPF Learning, vous guidant dans l'apprentissage et la correction de vos devoirs, généralement sous 12 heures après soumission.</p>
								
												<p>Notre équipe pédagogique, nos coachs, et le personnel administratif sont à votre écoute du lundi au vendredi, tous dédiés à votre réussite dans la formation à distance.</p>
								
												<p>Contactez-les à tout moment par téléphone, email, ou sur les réseaux sociaux, aux horaires suivants :</p>
								
												<p>Du lundi au jeudi : 8h30-19h<br/>Vendredi : 8h30-18h</p>
											</div>
											<div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:42%">
												<div style="padding:56.25% 0 0 0;position:relative;">
													<iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true" data-lazy-src="https://app.videas.fr/embed/d94ab4e9-411f-41a0-a668-6edfe83eac96/" data-rocket-lazyload="fitvidscompatible" frameborder="0" height="100%" loading="lazy" src="about:blank" style="position: absolute; top: 0; left: 0" width="100%"></iframe>
													<noscript>
														<iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true" frameborder="0" height="100%" src="https://app.videas.fr/embed/d94ab4e9-411f-41a0-a668-6edfe83eac96/" style="position: absolute; top: 0; left: 0" width="100%"></iframe>
													</noscript>
												</div>
											</div> #}
		{# </div>
																	<h2 class="wp-block-heading has-text-color" style="color:#1e68b0"><strong style="color: #0b3e6fd6;">Une école reconnue pour son expertise
																	            dans la formation par correspondance</strong></h2>
																	<p>Une institution reconnue pour son expertise en formation à distance
																	Fort de plus de 15 ans d'expérience, l'INFPF jouit d'une excellente réputation dans le domaine de la formation à distance, ayant formé plus de 226 000 étudiants et bénéficiant d'une vaste communauté sur les réseaux sociaux.</p>
																	<h2 class="wp-block-heading has-text-color" style="color:#1e68b0"><strong style="color: #0b3e6fd6;">Des élèves très satisfaits</strong>
																	<strong style="color: #0b3e6fd6;">par la formation par correspondance</strong>
																	</h2>
																	<div class="wp-block-columns is-layout-flex wp-container-core-columns-layout-3 wp-block-columns-is-layout-flex">
																	<div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:100%">
																	<p>Nos étudiants expriment une haute satisfaction, avec 94% se déclarant satisfaits de leur formation à distance. L'INFPF est fier de son évaluation de 9/10 sur les plateformes d'avis vérifiés.</p>
																	<p>Nous valorisons les retours de nos étudiants à travers des initiatives telles que "L'étudiant du mois" et "Les projets du mois", mettant en lumière leurs expériences et réalisations.</p>
																	<ul>
																	<li><strong style="color: #0b3e6fd6;"><a href="https://www..fr/temoignages/eleve-mois/">Les élèves du
																	                    mois</a></strong> :  Le but ? Proposer à nos élèves, en cours de formation ou qui ont déjà
																	                fini, de partager leur expérience sur la formation par correspondance du Institut national de la formation professionnelle française,
																	                au travers d’une vidéo.</li>
																	<li><strong style="color: #0b3e6fd6;"><a href="https://www..fr/temoignages/projet-du-mois/">Les projets du
																	                    mois</a></strong> : Dans la même lancée que le projet élève du mois, nous avons souhaité offrir de
																	                la visibilité aux réalisations de nos élèves. L’objectif est de montrer leur talent et ce qu’ils ont
																	                appris durant leur formation au sein de notre école.</li>
																	</ul>
																	</div>
																	</div> #}
		<h2 class="wp-block-heading has-text-color" style="color:#1e68b0;padding-top:15px;">
			<strong style="color: #0b3e6fd6;">Un réseau de partenaires
																															            professionnels</strong>
		</h2>
		<p style="padding:0;margin:0;">Un réseau de partenaires professionnels en expansion
																								avec plus d'une décennie d'expérience en formation à distance, l'INFPF élargit chaque année son réseau de partenaires, offrant à nos étudiants des opportunités d'emploi et d'accès à des produits spécifiques dans divers secteurs professionnels.
		</p>
	</div>
	<!-- .entry-content -->
</article>
<!-- #post-32 --></main><!-- #main -->
</div>{% include 'footer.html.twig' %}</body></html>{% endblock %}
